// HEADER

// icons

.header-sidebar-toggle {
    color: #BFBFBF;
}

.d-header-icons .d-icon {
    color: #BFBFBF;
}

.d-icon-house {
    color: #BFBFBF;
}


// MAIN BODY

// icons

.d-icon-thumbtack {
    color: #BFBFBF !important;
}

.topic-list-icons .d-icon-bookmark, .topic-list .d-icon-bookmark, .latest-topic-list .d-icon-bookmark, .top-topic-list .d-icon-bookmark {
    color: #BFBFBF !important;
}

// bulk select

.topic-list button.bulk-select {
    color: #BFBFBF;
}

// category & tag select box

.list-controls .combo-box .combo-box-header {
    color: #BFBFBF;
    border: 1px solid #BFBFBF;
    border-radius: 6px;
}

// scroll bar

.select-kit .select-kit-collection::-webkit-scrollbar-thumb {
    background: #BFBFBF;
}

// NAV PILLS

.nav-pills>li>a, .nav-pills>li button {
    border-radius: 6px;
    color: #BFBFBF;
    &:hover {background-color: var(--tertiary-low);
    }
}

.nav-pills>li a.active::after, .nav-pills>li button.active::after {
    background: #00b7ff !important;
}

// Sidebar

// active link
.sidebar-section-link-wrapper .sidebar-section-link--active, .sidebar-section-link-wrapper .sidebar-section-link.active {
    background: var(--tertiary-low);
    border-radius: 6px;
    color: #C6C6C6;
    font-weight: bold;
}

// not active link
.sidebar-section-link-wrapper .sidebar-section-link {
    border-radius: 6px;
}

// PROFILE

// user summary

// user stats. eg. seen, joined, email, TL

.user-main .about .secondary dt {
    color: #BFBFBF;
}

// TOPICS

// op username

.names span a {
    color: #BFBFBF;
}

// user title

.names .new_user a, .names .user-title, .names .user-title a {
    color: #BFBFBF;
}

// user title staff colour

.moderator .clearfix>.topic-meta-data>.names span.user-title, .moderator .nav-pills>.topic-meta-data>.names span.user-title, .moderator .container>.topic-meta-data>.names span.user-title, .moderator .wrap>.topic-meta-data>.names span.user-title {
    color: #BFBFBF;
}

.names .fa {
    color: #BFBFBF;
}

// edit icon on post

// post revision number colour

.post-info.edits .widget-button .d-button-label {
    color: #BFBFBF;
}

// post revision icon colour

.post-info.edits .widget-button .d-icon {
    color: #BFBFBF;
}

// fast edit toolbar

.quote-button .buttons {
    background-color: #333;
}

.quote-button .fast-edit-container {
    background-color: #333;
}

// post reply button text colour

nav.post-controls .actions button.create {
    color: #FFF;
}

// post reply button icon colour

nav.post-controls .actions button.create .d-icon {
    color: #FFF;
}

// post share modal date colour

.d-modal.share-topic-modal .d-modal__subtitle-text {
    color: #BFBFBF;
}

// embedded post

.embedded-posts .arrow {
    color: #FFF;
}

// links at bottom of topic

.post-links-container ul li a[href] {
    color: #BFBFBF;
}

// view hidden reply (gap)

.gap {
    color: #BFBFBF;
}

// topic timestamp

.topic-meta-data .post-info a {
    color: #BFBFBF;
}

// topic timeline/scrollbar

.timeline-container .topic-timeline .now-date {
    color: #BFBFBF;
}

.timeline-container .topic-timeline .timeline-ago {
    color: #BFBFBF;
}

.timeline-container .topic-timeline .start-date {
    color: #BFBFBF;
}

// estimated read time

.onebox.allowlistedgeneric .label1, .onebox.allowlistedgeneric .label2, .onebox.whitelistedgeneric .label1, .onebox.whitelistedgeneric .label2 {
    color: #BFBFBF;
}

// custom timeline text

.timeline-date-wrapper .start-date {
  &:before {
    content: "Return to top:"; // Change the text here
  }

  .d-label {
    display: none; // hide the topic OP date
  }
}

// ONEBOX

// onebox header

aside.onebox header a[href] {
    color: #BFBFBF;
}

// POST ACTIONS

// number of likes

nav.post-controls .actions a, nav.post-controls .actions button {
    color: #BFBFBF;
}

// QUOTES

// quote controls

.quote-controls, .quote-controls .d-icon {
    color: #BFBFBF;
}

// quote button

.quote-button .btn, .quote-button .btn:hover, .quote-button .d-icon, .quote-button .btn:hover .d-icon {
    color: #BFBFBF;
    background-color: #bfbfbf00;
    &:hover{ background-color: #000;
    }
}

// usermane in posted quote

aside.quote .title {
    color: #BFBFBF;
}

// BADGES

// badge group header

.badge-groups {
    color: #BFBFBF;
}

// users who have recieved badge - date granted

.user-info.medium.badge-info .granted-on {
    color: #BFBFBF;
}

// use badge as title

.show-badge-details .grant-info-item {
    color: #BFBFBF;
}

// GROUPS

.groups-boxes .group-box {
    &:hover { border: 1px solid #BFBFBF !important;
    }
}

// /U PAGE date dropdown

.select-kit.dropdown-select-box.period-chooser .period-chooser-header h2.selected-name .top-date-string {
    color: #BFBFBF;
}

// /CATEGORIES PAGE

.list-cell, .table-heading, .category-list td, .category-list th {
    color: #BFBFBF;
}

.badge-posts[href] {
    color: #BFBFBF;
}

// topic date

.category-list .featured-topic a.last-posted-at, .category-list .featured-topic a.last-posted-at:visited {
    color: #BFBFBF;
}

// latest activity in topic

.latest-topic-list-item .topic-last-activity a {
    color: #BFBFBF;
}

// new topics within a category

.category-list .topics .badge-notification, .category-list .category .badge-notification {
    color: #00B7FF;
    font-weight: bold;
}

// category 'latest'

.latest-topic-list .table-heading, .top-topic-list .table-heading {
    color: #BFBFBF;
}

// REVIEW QUEUE

// sidebar pending amount

.sidebar-section-link-wrapper .sidebar-section-link .sidebar-section-link-content-badge {
    color: var(--danger);
    font-weight: bold;
}

// date reviewed

.reviewable-item .reviewable-meta-data .created-at a {
    color: #BFBFBF;
}

// ADMIN SETTINGS BLUE

.nav-stacked a.active {
    background-color: #069;
    border-radius: 6px;
}

// EXTRAS

// staff colour

.moderator .regular>.cooked {
    background-color: #069 !important;
}

.moderator .regular>.cooked a, .user-stream .item.moderator-action .title a {
    color: #FFF !important;
    border-bottom: 2px dotted #fff !important;
}


// wiki background

.wiki .topic-body {
    background-color: #002c15;
}

// solution

.post-controls .extra-buttons .accepted .d-icon, .post-controls .extra-buttons .accepted .d-button-label {
    color: var(--success);
}

.fa.accepted {
    color: var(--success);
}

.post-controls .extra-buttons .accepted-text .d-icon, .post-controls .extra-buttons .accepted-text .accepted-label {
    color: var(--success);
}

// round buttons

.btn {
    border-radius: 6px;
}

button {
    border-radius: 6px;
}

// DROPDOWN BACKGROUND HIGHLIGHT COLOUR

.select-kit .select-kit-row.is-highlighted {
    background-color: #383838 !important;
}

.select-kit .select-kit-row.is-selected {
    background: #004059;
}
